.comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #213248;
}
.comentarios__titulo{

    margin: 40px auto 60px auto;
    font-size: 1.3rem;
    text-align: center;
    color: white;
}
.comentarios__cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: auto;
}
.comentarios__card{
    background-color:#f7f0f5;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 100px;
}
.comentarios__nome{
    text-align: center;
    color: #3b5875;
    margin-bottom: 5px;
    font-size: 1.2rem;

}
.comentario{
    text-align: justify;
}
.foto-comentario{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 90px;
    height: 90px;
    margin: auto;
    transform: translateY(-60%);
    border-radius: 100%;
    border: 3px solid #f7f0f5;
}
.comentarios__foto--paola{
    background-image: url('../imagens/paola.jpg');
}
.comentarios__foto--matheus{
    background-image: url("https://unavatar.now.sh/github/matheuswferreira");
}
.comentarios__foto--thais{
    background-image: url("../imagens/thais2.jpeg");
}
@media screen and (min-width:905px){

    .comentarios__cards{
        flex-direction: row;
        width: 100%;

    }
    .comentarios__card{
        width: 28%;
        margin-bottom: 50px;
    }
}