.descricao__secao{
    background-color: #213242;
}

.descricao__secao{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #9baec2;
}
.descricao__item{
    width: 70%;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #9baec2;
    
}

@media screen and (min-width:720px){

    .descricao__secao{
        flex-direction: row;
    }
    .descricao__item{
        width: 33.33%;
        border-bottom: none;
    }
}