.cabecario{
    display: flex;
    height: 60px;
    background-color: #212529;
    align-items: center;
    padding: 0 .5rem;
    font-size: 13px;
    flex-direction: column;
}
.logo{
    color: #fff;
    width: 40px;
}
.menu__lista{
    display: flex;
}
.menu__item{
    margin-left: .8rem;
    color: #fff;
}

@media screen and (min-width: 698px){
    .cabecario{
        flex-direction: row;
        justify-content: space-between;
    }
}