.rodape{
    display: flex;
    background-color: #dfdfdf;
    padding: 1rem;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
}
.rodape__icones{
    width: 24px;
    margin-left: 10px;
    margin-top: 10px;
}